{#include fragments/common/tom_select_tabler_styles /}

<div class="page-body">
    <div class="container-xl">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions w-100">
                        <div class="d-none d-lg-block">
                            <div class="row g-2 align-items-center">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="搜索账号、备注、UUID、用户或32位认证码" v-model="searchQuery" @input="searchDebounced">
                                </div>
                                {#include person/account/filters layout='desktop' /}
                            </div>
                        </div>
                        <div class="row g-2 align-items-center d-lg-none">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="搜索账号、备注、UUID、用户或32位认证码" v-model="searchQuery" @input="searchDebounced">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#accountFilterOffcanvas" aria-controls="accountFilterOffcanvas">
                                    <i class="ti ti-adjustments-horizontal"></i>
                                    <span class="d-none d-sm-inline">筛选</span>
                                    <span v-if="activeFilterCount() > 0" class="badge bg-primary text-white ms-1">{{ activeFilterCount() }}</span>
                                </button>
                            </div>
                        </div>
                        {#include fragments/common/filter-active-tags
                            hasActiveFiltersExpr='hasActiveFilters()'
                            activeTagsExpr='getActiveFilterTags()'
                            wrapperClass='mt-3 d-lg-none'
                            containerClass='d-flex flex-wrap gap-2'
                            tagClass='badge bg-azure-lt text-azure border-0 d-inline-flex align-items-center gap-1'
                            clearClass='badge bg-secondary-lt text-secondary border-0'
                            clearMethod='clearFilter'
                            resetMethod='resetFilters'
                            clearLabel='清空筛选' /}
                    </div>
                </div>

                {#include person/account/stats /}

                <div class="table-responsive">
                    {#include person/account/table /}
                </div>

                {#include pagination-controls /}
            </div>
        </div>

        {#include person/account/modals /}

        {#include fragments/common/mobile_filter_drawer
            drawerId='accountFilterOffcanvas'
            drawerLabelId='accountFilterOffcanvasLabel'
            title='筛选账号'
            description='按状态和在线情况快速筛选账号'
            resetMethod='resetFilters'
            resetLabel='重置'
            submitLabel='完成'}
            {#fields}
                {#include person/account/filters layout='mobile' /}
            {/fields}
        {/include}
    </div>
</div>
