<div class="{#if layout == 'mobile'}col-12{#else}col-auto{/if}">
    {#if layout == 'mobile'}
        <label class="form-label">交易类型</label>
    {/if}
    <select class="form-select" v-model="filters.type" @change="fetchRecords">
        <option value="">全部类型</option>
        <option v-for="type in transactionTypes" :key="type.value" :value="type.value">{{ type.label }}</option>
    </select>
</div>

<div class="{#if layout == 'mobile'}col-12{#else}col-auto{/if}">
    {#if layout == 'mobile'}
        <label class="form-label">业务类型</label>
    {/if}
    <select class="form-select" v-model="filters.businessTable" @change="fetchRecords">
        <option value="">全部业务</option>
        <option v-for="table in businessTables" :key="table.value" :value="table.value">{{ table.label }}</option>
    </select>
</div>
