<div th:fragment="data-table(title, buttonText, tableId, entityName, filterFragment, tableFragment, statsFragment, modalsFragment, modalIdPrefix, showAddButton)" class="col-12">
    <div class="card" th:id="${tableId}" @vue:mounted="mounted">
        <div class="card-header">
            <h3 class="card-title" th:text="${title}">数据表格</h3>
            <div class="card-actions">
                <div class="row g-2">
                    <!-- Search input -->
                    <div class="col">
                        <input type="text" class="form-control" placeholder="搜索..." v-model="searchQuery" @input="searchDebounced">
                    </div>

                    <!-- Additional filters - provided by the specific implementation -->
                    <th:block th:replace="${filterFragment} ?: ~{}"></th:block>

                    <!-- Add button -->
                    <div class="col-auto">
                        <button th:if="${showAddButton != false}" class="btn btn-primary btn-5" @click="openCreateModal" >
                            <i class="ti ti-plus"></i> <span th:text="${buttonText ?: '添加'}">添加</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stats cards - provided by the specific implementation -->
        <th:block th:replace="${statsFragment} ?: ~{}"></th:block>

        <div class="table-responsive">
            <!-- Table content - provided by the specific implementation -->
            <th:block th:replace="${tableFragment}"></th:block>
        </div>

        <div class="card-footer">
            <div class="row g-2 justify-content-center justify-content-sm-between">
                <div class="col-auto d-flex align-items-center">
                    每页显示
                    <div class="mx-2 d-inline-block">
                        <select class="form-select form-select-sm" v-model="pageSize" @change="changePageSize">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    条记录
                </div>
                <div class="col-auto">
                    <ul class="pagination m-0 ms-auto">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <!-- Download SVG icon from http://tabler.io/icons/icon/chevron-left -->
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-1"
                                >
                                    <path d="M15 6l-6 6l6 6" />
                                </svg>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <!-- Download SVG icon from http://tabler.io/icons/icon/chevron-right -->
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-1"
                                >
                                    <path d="M9 6l6 6l-6 6" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Delete Confirmation Modal -->
        <div class="modal modal-blur fade" th:id="${modalIdPrefix} + 'deleteModal'" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-title">确定删除吗?</div>
                        <div>若确认删除，数据将无法恢复</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" @click="deleteItem">确认</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Additional modals - provided by the specific implementation -->
        <th:block th:replace="${modalsFragment} ?: ~{}"></th:block>
    </div>
</div>