<!-- BEGIN PAGE HEADER -->
<div th:fragment="header(pageTitle, secondaryTitle, showAddButton, btnListFragment)" class="page-header d-print-none" aria-label="Page header">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle" th:text="${pageSecondaryTitle}"></div>
                <h2 class="page-title" th:text="${pageTitle}"></h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <button th:if="${showAddButton != false}" class="btn btn-primary btn-5 d-none d-sm-inline-block" @click="openCreateModal" >
                        <i class="ti ti-plus"></i> <span th:text="${buttonText ?: '添加'}">添加</span>
                    </button>
                    <button th:if="${showAddButton != false}" class="btn btn-primary btn-6 d-sm-none" @click="openCreateModal" >
                        <i class="ti ti-plus"></i>
                    </button>
                    <th:block th:replace="${btnListFragment} ?: ~{}"></th:block>
                </div>
                <!-- BEGIN MODAL -->
                <!-- END MODAL -->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE HEADER -->