<div class="page-body">
    <div class="container-xl">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions w-100">
                        <div class="row g-2 align-items-center">
                            <div class="col">
                                <div class="text-secondary small">备份目录</div>
                                <div class="fw-medium text-break">{{ stats.backupDir || '-' }}</div>
                            </div>
                            <div class="col-auto">
                                <div class="btn-list">
                                    <button class="btn btn-primary" :disabled="runningBackup || uploadingBackup" @click="runBackup">
                                        <i class="ti ti-database-export"></i>
                                        {{ runningBackup ? '备份中...' : '立即备份' }}
                                    </button>
                                    <button class="btn btn-outline-primary" :disabled="uploadingBackup || runningBackup" @click="triggerUpload">
                                        <i class="ti ti-upload"></i>
                                        {{ uploadingBackup ? '上传中...' : '上传备份' }}
                                    </button>
                                    <input id="backup-upload-input" type="file" class="d-none" accept=".sql.gz" @change="uploadBackupFile">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {#include backup-stats /}

                <div class="table-responsive">
                    {#include backup-table /}
                </div>

                {#include pagination-controls /}
            </div>
        </div>

        {#include backup-modals /}
    </div>
</div>
