{#include fragments/common/search_dropdown_styles /}

<!-- Server filter -->
<div class="col-auto">
    <div style="min-width: 220px;">
        {#include fragments/common/search_dropdown_component componentVar='nodeServerFilter' cssClass='' /}
    </div>
</div>

<!-- Type filter -->
<div class="col-auto">
    <select class="form-select" v-model="filters.type" @change="onFilterChange">
        <option value="">全部类型</option>
        <option v-for="type in nodeTypes" :key="type.value" :value="type.value">{{ type.label }}</option>
    </select>
</div>

<div class="col-auto">
    <select class="form-select" v-model="filters.coreType" @change="onFilterChange">
        <option value="">全部内核</option>
        <option v-for="coreType in coreTypes" :key="coreType.value" :value="coreType.value">{{ coreType.label }}</option>
    </select>
</div>

<div class="col-auto">
    <select class="form-select" v-model="filters.protocol" @change="onFilterChange">
        <option value="">全部协议</option>
        <option v-for="protocol in getFilterProtocolOptions()" :key="protocol.value" :value="protocol.value">{{ protocol.label }}</option>
    </select>
</div>

<!-- Status filter -->
<div class="col-auto">
    <select class="form-select" v-model="filters.disabled" @change="onFilterChange">
        <option value="">全部状态</option>
        <option value="false">已启用</option>
        <option value="true">已禁用</option>
    </select>
</div>

<div class="col-auto">
    <select class="form-select" v-model="filters.deployed" @change="onFilterChange">
        <option value="">全部部署状态</option>
        <option value="true">已部署</option>
        <option value="false">未部署</option>
    </select>
</div>

<div class="col-auto">
    <button class="btn btn-secondary" @click="openBatchDeployModal">
        <i class="ti ti-rocket"></i> 全部部署
    </button>
</div> 
