<div class="page-body">
    <div class="container-xl">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions w-100">
                        <div class="row g-2">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="搜索邮箱、昵称或备注名..." v-model="searchQuery" @input="searchDebounced">
                            </div>
                            {#include user-filters /}
                        </div>
                    </div>
                </div>

                {#include user-stats /}

                <div class="table-responsive">
                    {#include user-table /}
                </div>

                {#include pagination-controls /}

                <div class="modal modal-blur fade" id="user-deleteModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="modal-title">确定删除吗?</div>
                                <div>若确认删除，数据将无法恢复</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-danger" @click="deleteItem">确认</button>
                            </div>
                        </div>
                    </div>
                </div>

                {#include user-modals /}
            </div>
        </div>
    </div>
</div> 
