<div class="page-body">
    <div class="container-xl">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions w-100">
                        <div class="row g-2">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="搜索 NICKNAME..." v-model="searchQuery" @input="searchDebounced">
                            </div>

                            {#include person/account-traffic/filters /}
                        </div>
                    </div>
                </div>

                {#include person/account-traffic/stats /}

                <div class="table-responsive">
                    {#include person/account-traffic/table /}
                </div>

                {#include pagination-controls /}

                <div class="modal modal-blur fade" id="traffic-stats-deleteModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="modal-title">确认删除吗？</div>
                                <div>删除后该条流量周期数据将无法恢复。</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-danger" @click="deleteItem">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#include person/account-traffic/modals /}
    </div>
</div>
