<div class="col-auto">
    <div class="input-group">
        <span class="input-group-text">开始时间</span>
        <input type="date" class="form-control" v-model="filters.startDate" @change="currentPage = 1; fetchRecords()">
    </div>
</div>

<div class="col-auto">
    <div class="input-group">
        <span class="input-group-text">结束时间</span>
        <input type="date" class="form-control" v-model="filters.endDate" @change="currentPage = 1; fetchRecords()">
    </div>
</div>

<div class="col-auto">
    <button type="button" class="btn btn-outline-secondary" @click="resetFilters">
        <i class="ti ti-refresh"></i>
        重置
    </button>
</div>
