<div class="page-body">
    <div class="container-xl">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-none d-lg-block pb-3">
                        <div class="text-uppercase text-muted fw-bold small mb-3">筛选节点</div>
                        <div class="row g-3 align-items-center">
                            <div class="col-12 col-xl col-lg-6">
                                <input type="text" class="form-control" placeholder="搜索节点名称、编号、备注" v-model="searchQuery" @input="searchDebounced">
                            </div>
                            {#include fragments/common/search_dropdown_styles /}
                            {#include vpn/node/filter-fields layout='desktop' serverComponentVar='nodeServerFilter' /}
                        </div>
                    </div>

                    <div class="row g-3 align-items-center">
                        <div class="col-12 d-lg-none">
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control" placeholder="搜索节点名称、编号、备注" v-model="searchQuery" @input="searchDebounced">
                                <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#nodeFilterOffcanvas" aria-controls="nodeFilterOffcanvas">
                                    <i class="ti ti-adjustments-horizontal"></i>
                                    <span class="d-none d-sm-inline">筛选</span>
                                    <span v-if="activeFilterCount() > 0" class="badge bg-primary text-white ms-1">{{ activeFilterCount() }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {#include fragments/common/filter-active-tags
                        hasActiveFiltersExpr='hasActiveFilters()'
                        activeTagsExpr='getActiveFilterTags()'
                        wrapperClass='mt-3 d-lg-none'
                        containerClass='d-flex flex-wrap gap-2'
                        tagClass='badge bg-azure-lt text-azure border-0 d-inline-flex align-items-center gap-1'
                        clearClass='badge bg-secondary-lt text-secondary border-0'
                        clearMethod='resetFilters'
                        resetMethod='resetFilters'
                        clearLabel='清空筛选' /}
                </div>

                {#include vpn/node/toolbar /}
                {#include vpn/node/stats /}

                <div class="table-responsive">
                    {#include vpn/node/table /}
                </div>

                {#include pagination-controls /}
            </div>
        </div>

        {#include fragments/common/mobile_filter_drawer
            drawerId='nodeFilterOffcanvas'
            drawerLabelId='nodeFilterOffcanvasLabel'
            title='筛选节点'
            description='按服务器、类型、内核、协议和状态快速缩小范围'
            resetMethod='resetFilters'
            resetLabel='重置'
            submitLabel='完成'}
            {#fields}
                {#include vpn/node/filter-fields layout='mobile' serverComponentVar='nodeMobileServerFilter' /}
            {/fields}
        {/include}
        {#include vpn/node/modals /}
    </div>
</div>
