<div class="col-12 {#if layout == 'desktop'}col-xl col-lg-6{/if}">
    {#if layout == 'mobile'}
        <label class="form-label">服务器</label>
    {/if}
    <select id="{serverComponentVar}" class="form-select" multiple>
    </select>
</div>

<div class="col-12 {#if layout == 'desktop'}col-xl col-lg-6{/if}">
    {#if layout == 'mobile'}
        <label class="form-label">类型</label>
    {/if}
    <select class="form-select" v-model="filters.type" @change="onFilterChange">
        <option value="">全部类型</option>
        <option v-for="type in nodeTypes" :key="type.value" :value="type.value">{{ type.label }}</option>
    </select>
</div>

<div class="col-12 {#if layout == 'desktop'}col-xl col-lg-6{/if}">
    {#if layout == 'mobile'}
        <label class="form-label">标签</label>
    {/if}
    <select class="form-select" v-model="filters.node_tag" @change="onFilterChange">
        <option value="">全部标签</option>
        <option v-for="tag in availableTags" :key="tag.id" :value="tag.id">{{ tag.name }}</option>
    </select>
</div>

<div class="col-12 {#if layout == 'desktop'}col-xl col-lg-6{/if}">
    {#if layout == 'mobile'}
        <label class="form-label">协议</label>
    {/if}
    <select class="form-select" v-model="filters.protocol" @change="onFilterChange">
        <option value="">全部协议</option>
        <option v-for="protocol in getFilterProtocolOptions()" :key="protocol.value" :value="protocol.value">{{ protocol.label }}</option>
    </select>
</div>

<div class="col-12 {#if layout == 'desktop'}col-xl col-lg-6{/if}">
    {#if layout == 'mobile'}
        <label class="form-label">状态</label>
    {/if}
    <select class="form-select" v-model="filters.disabled" @change="onFilterChange">
        <option value="">全部状态</option>
        <option value="false">已启用</option>
        <option value="true">已禁用</option>
    </select>
</div>

<div class="col-12 {#if layout == 'desktop'}col-xl col-lg-6{/if}">
    {#if layout == 'mobile'}
        <label class="form-label">部署</label>
    {/if}
    <select class="form-select" v-model="filters.deploymentStatus" @change="onFilterChange">
        <option value="">全部部署状态</option>
        <option value="0">待部署</option>
        <option value="2">待删除</option>
        <option value="1">已部署</option>
    </select>
</div>
