[# th:each="node : ${nodes}"]
[# th:if="${node.protocol == 'Hysteria2'}" th:remove="tag"]
[(${node.name})]=Hysteria2,[(${node.serverHost})],[(${node.port})],[(${account.uuid})],skip-cert-verify=true,tls-name=[(${node.inbound.streamSettings.realitySettings.serverNames[0]})]
[/]
[# th:if="${node.protocol == 'VLESS'}" th:remove="tag"]
[(${node.name})]=VLESS,[(${node.serverHost})],[(${node.port})],[(${account.uuid})],transport=tcp,flow=xtls-rprx-vision,public-key=[(${node.inbound.streamSettings.realitySettings.publicKey})],short-id=[(${node.inbound.streamSettings.realitySettings.shortIds[0]})],over-tls=true,sni=[(${node.inbound.streamSettings.realitySettings.serverNames[0]})],skip-cert-verify=true
[/]
[/]