{#each nodes}
{#if protocol == 'hysteria2'}
{name}=Hysteria2,{serverHost},{port},{account.uuid},skip-cert-verify=true,tls-name={inbound.streamSettings.realitySettings.serverNames[0]}
{/if}
{#if protocol == 'vless'}
{name}=VLESS,{serverHost},{port},{account.uuid},transport=tcp,flow=xtls-rprx-vision,public-key={inbound.streamSettings.realitySettings.publicKey},short-id={inbound.streamSettings.realitySettings.shortIds[0]},over-tls=true,sni={inbound.streamSettings.realitySettings.serverNames[0]},skip-cert-verify=true
{/if}
{/each}