# AirOpsCat Subscription Config for Loon
# Generated at: {{timestamp}}
# Account: {{account.uuid}}

[General]
ipv6 = false
dns-server = 114.114.114.114, 8.8.8.8
allow-udp-proxy = false
allow-wifi-access = false
wifi-access-http-port = 7222
wifi-access-socket5-port = 7221
proxy-test-url = http://www.gstatic.com/generate_204
test-timeout = 3

[Host]

[Proxy]
{{#proxies}}
{{name}} = {{type}}, {{server}}, {{port}}{{#uuid}}, {{uuid}}{{/uuid}}{{#password}}, {{password}}{{/password}}{{#cipher}}, {{cipher}}{{/cipher}}{{#username}}, {{username}}{{/username}}
{{/proxies}}

[Proxy Group]
🔰 节点选择 = select{{#proxyNames}}, {{.}}{{/proxyNames}}
♻️ 自动选择 = url-test{{#proxyNames}}, {{.}}{{/proxyNames}}, url = http://www.gstatic.com/generate_204, interval = 600, tolerance = 100
🐟 漏网之鱼 = select, 🔰 节点选择, DIRECT

[Rule]
DOMAIN-SUFFIX,local,DIRECT
IP-CIDR,127.0.0.0/8,DIRECT
IP-CIDR,172.16.0.0/12,DIRECT
IP-CIDR,192.168.0.0/16,DIRECT
IP-CIDR,10.0.0.0/8,DIRECT
IP-CIDR,17.0.0.0/8,DIRECT
IP-CIDR,100.64.0.0/10,DIRECT
GEOIP,CN,DIRECT
FINAL,🐟 漏网之鱼

[Remote Proxy]

[Remote Filter]

[Remote Rule]

[URL Rewrite]

[MITM] 